<a href="{{url}}">
  <img src="{{cover}}">
  <figcaption>
    <h1>{{title}}</h1>
    <h3>{{artist}}</h3>
    <h4>{{date}}</h4>
    <h3>${{format_price price}}</h3>
  </figcaption>
  <a class="button" href="#">Add to Cart</a>
  <form action="albums" method="post">
    <input class="hidden" name="id" value="{{id}}">
    <input type="submit" value="Delete">
  </form>
</a>