<a href="{{url}}" data-id="{{id}}">
  <img src="{{cover}}">
  <figcaption>
    <h1>
      {{#if title}}
        {{title}}
      {{else}}
        No Title
      {{/if}}
    </h1>
    <h3>
      {{#if artist}}
        {{artist}}
      {{else}}
        No Artist
      {{/if}}
    </h3>
    <h4>
      {{#if date}}
        {{date}}
      {{else}}
        Date Unknown
      {{/if}}
    </h4>
    <h3>${{format_price price}}</h3>
  </figcaption>
  <a class="button add-cart" href="#">Add to Cart</a>
  <form action="albums" method="post">
    <input class="hidden" name="id" value="{{id}}">
    <input type="submit" value="Delete">
  </form>
</a>