{{#if quantity}}
<label for="cart_toggle">{{quantity}} items</label>
<input class="hidden" type="checkbox" id="cart_toggle">
  <div id=items>
    <ul>
      {{#each items}}
        <li data-id="{{id}}">
          <a href="#">&#x2715;</a>
          {{title}} x {{quantity}}
          <span>${{format_price price}}</span>
        </li>
      {{/each}}
    </ul>
    <h2>${{format_price total}}</h2>
  </div>
{{else}}
<label>0 items</label>
{{/if}}